<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__others">
        <app-small-card
            Id="1"
            photoCover = "https://cdn.motor1.com/images/mgl/kNREB/s1/lamborghini-huracan-sto.jpg"
            cardTitle = "Lamborghini Huracan"
            cardDescription = "Lançado em 2013 como o cupê de entrada da marca, o Lamborghini Huracan finalmente receberá um sucessor. Apesar de ainda manter em segredo todos os detalhes sobre o supercarro.">
        </app-small-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
            photoCover = "https://midias.agazeta.com.br/2022/12/23/ferrari-f8-tributo-936571.jpg"
            cardTitle = "Ferrari F8"
            cardDescription = "A Via Itália, importadora oficial da Ferrari no Brasil, confirmou o lançamento da F8 Tributo no país. O superesportivo chega para pôr um fim na 488 GTB/Spider/Pista e já está à venda no mercado.">
        </app-small-card>
    </div>
</div>

<div class="container__articles">
    <div class="articles__others">
        <app-small-card
            Id="3"
            photoCover = "https://cdn.motor1.com/images/mgl/kNREB/s1/lamborghini-huracan-sto.jpg"
            cardTitle = "Lamborghini Huracan"
            cardDescription = "Lançado em 2013 como o cupê de entrada da marca, o Lamborghini Huracan finalmente receberá um sucessor. Apesar de ainda manter em segredo todos os detalhes sobre o supercarro.">
        </app-small-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="4"
            photoCover = "https://midias.agazeta.com.br/2022/12/23/ferrari-f8-tributo-936571.jpg"
            cardTitle = "Ferrari F8"
            cardDescription = "A Via Itália, importadora oficial da Ferrari no Brasil, confirmou o lançamento da F8 Tributo no país. O superesportivo chega para pôr um fim na 488 GTB/Spider/Pista e já está à venda no mercado.">
        </app-small-card>
    </div>
</div>